<section class="container">
  <h1 style="color:cornflowerblue">The Current Top Ten Links from URL Lockbox</h1>

  <% @links.each do |link| %>
  <ul>
    <li style="color:#16C982">Link Title: <strong><%= link[:title] %></strong>
      <p>Link Url: <strong><%= link[:url] %></strong></p></li>
  </ul>
  <% end %>
</section>