<section class="container">
  <h1>The Current Top Ten Links from URL Lockbox<%= link_to "URL Lockbox", "#" %></h1>

  <% @links.each do |link| %>
    <%= link_to link.url %>: Read <%= link.read_count %> times
    <hr>
  <% end %>
</section>