<section class="container">
  <h1>The Current Top Ten Links from URL Lockbox</h1>

  <% @links.each do |link| %>
    <% if link.first %>
      <%= "Hot Link" %>
    <% end %>
    <%= link.title %>
    <%= link_to link.url %>
  <% end %>
</section>